$lora-bold: 'Lora Bold',
serif;

$lato-reg: 'Lato Regular',
sans-serif;
$lato-bold: 'Lato Bold',
sans-serif;
$lato-bold-sans: 'Lora Bold',
sans-serif;
$lato-reg-ital: 'Lato Regular Italic',
sans-serif;
$lato-black: 'Lato Black',
sans-serif;


$color-white: #fff;

$color-orange: #f3a742;
$color-orange-dark: #f17a00;

$color-blue: #78b1ff;
$color-blue-dark: #002336;

$color-green: #3f9b7a;
$color-green-light: #97c2b6;

$color-gray-light-1: #a2a7bc;
$color-gray-light-2: #9297b0;
$color-gray-light-3: #eef0f6;
$color-gray-light-4: #b1b8cb;


$bg-color-gray: #fafcff;
$bg-green-dark: #274f46;
$bg-green-light: #2f5c52;
$bg-green-link: #4bb891;
$bg-color-orange: #f6c695;

$overlay-orange: #e3a03d;
$box-shadow-1: #fbfbfb;
